body{
   padding: 0;
   margin: 0;
   background-color: wheat;
}



.youtube{
   height: 50px;
   width: 80px;
   background-color: red;
   color: white;
   border-radius: 20px;
   text-align: justify;
   text-size-adjust: 20px;
}
.youtube:hover{
   background-color: white;
   color: red;
   cursor: pointer;
   margin-bottom: 29px;
   margin-left: 200px;
   
}.one{
   background-color: orange;
   height: 50px;
   width: 90px;
   font-size: 110%;
   font-family: serif;
   border: none;
   border-radius: 2px;
   cursor: pointer;
   box-shadow: 0px 0px 0px #666,0px 0px 20px #777;
   transition-property: all;
   transition-duration: 2s ;

}.one:active{
   box-shadow: none;
   top: 8px;
   background-color: blue;
}


.two{
   background-color: green;
   padding: 0;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 20px;
   margin-right: 20px;
   padding-left: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 30px;
   font-size: large;
   font-family: serif;
   border: none;
   border-radius: 2px;
}.three{
   background-color: green;
   padding: 0;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 20px;
   margin-right: 20px;
   padding-left: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 30px;
   font-size: large;
   font-family: serif;
   border: none;
   border-radius: 2px;
}
h2{
   font-size: 29px;
   font-weight: 100px;
   font-family: Tahoma ;
   margin-bottom: 0px;
   margin-top: 0px;
}
.para{
   font-size: 29px;
   font-weight: bold;
   font-family: Arial ;
   margin-bottom: 5px;

}
.span{
   font-size: 20px;
   margin-top: 0px;
   font-style: italic;
   color: rgb(200, 33, 83);
}.heading{
   font-size: 25px;
   font-family: Verdana;
   margin-bottom: 0px;
   margin-top: 0px;
}.learn{
   margin-top: 2px;
   font-family: verdana;
   color: #666;
}.content{
   font-size: 18px;
   font-family: verdana;
   width: 350px;
   

}.g-t-b{
   color: white;
   background-color: green;
   margin-left: 20px;
   text-align: center;
   width: 110px;
   height: 37px;
   border-radius: 4px;
   border: none;
   font-size: 14px
}.business{
   font-family: arial;
   font-size: 29px;
   margin-bottom: 15px;
}.words{
   margin-left: 75px;
   margin-top: 0px;
   font-size: 18px;
   
}.l-m{
   margin-left: 0px;
   margin-top: 0px;
   font-size: 18px;
   color: blue ;
   font-family: arial;
}.New{ 
   color: rgb(220, 46, 46);
   font-family: Arial;
   font-size: 15px;
   text-align: center;
   margin-bottom: 8px;
}.m-p{
   font-family: Arial;
   font-weight: bold;
   text-align: center;
   margin-top: 0px;
   margin-bottom: 6px;
}.head{
   font-family: Lugrasimo;
   text-align: center;
   margin-top: 0px;
   font-size: 27px;
   margin-bottom: 8px;
}.From{
   font-family: Arial;
   text-align: center;
   margin-top: 10px;
   margin-bottom: auto;
   font-size: 13px;
}.buy-button{
   margin-left: 260px;
   margin-top: 8px;
   color: white;
   border-radius: 50px;
   background-color: rgb(57, 57, 200);
   border: none;
   font-size: 13px;
   padding-left: 11px;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-right: 11px;
   font-family: arial;
}span{
   color: rgb(54, 99, 54);
    margin-top: 11px;

}.span-id{
   color: #a61010;
}